.container .live {
  margin: 0 0 0 5px;
  font-size: 12px;
  color: #23ade5;
  border: 1px solid #23ade5;
  border-radius: 10px;
  padding: 0 5px;
  display: inline-block;
  height: 18px;
  line-height: 18px;
  font-style: normal;
  font-weight: 400;
}
