
/* theme color */
$--color-primary: #1890ff;
$--color-success: #13ce66;
$--color-warning: #FFBA00;
$--color-danger: #ff4949;
$--color-info: #1E1E1E;

$--button-font-weight: 400;

// $--color-text-regular: #1f2d3d;
$--border-color-light: #dfe4ed;
$--border-color-lighter: #e6ebf5;

$--table-border:1px solid #dfe6ec;

/* icon font path, required */
$--font-path: '~element-plus/es/lib/theme-chalk/fonts';

// @import "~element-ui/packages/theme-chalk/src/index";

:export {
  theme: $--color-primary;
}
