.float-panel {
  background-color: #ffffff88;
  opacity: 0.3;
  transition: all 1s ease;
  z-index: 0;
  width: 0.4rem;
  float: right;
  .chart {
    display: none;
  }
  &:hover {
    opacity: 0.95;
    background-color: #88f;
    width: 12rem;
    z-index: 1;
    .chart {
      display: inline;
    }
  }
}

.float-column {
  opacity: 0.1;
  position: absolute;
  margin-top: 3rem;
  right: 1%;
  transition: all 0.5s;
  &:hover {
    opacity: 1;
  }
}
