.mainbox {
  display: flex;
  min-width: 1024px;
  max-width: 8172px;
  margin: 0 auto;
  padding: 0.125rem 0.125rem 0;
}
.mainbox .column {
  flex: 2;
}
.mainbox .column:nth-child(2) {
  flex: 3;
  margin: 0 0.125rem 0.1875rem;
  overflow: hidden;
}